.moleculeStyle {
    display: flex;
    justify-content: right;
    background-color: lightgray;
    padding: 10px;
    padding-left: 0;
    height: 68px;
}

.buttonIconWrapper {
    display: flex;
    justify-content: right;
    width: 75%;
    margin-top: 10px;
    margin-right: 5px;
}

.bottonNameWrapper {
    display: flex;
    justify-content: left;
}

app-photo {
    margin-right: 30px;
}

app-photo {
    margin-left: 10px;
}