.moleculeStyle {
    display: flex;
    min-width: 160px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px solid lightgray;
}

.hourWrapper {
    display: flex;
    justify-content: right;
    width: 25%;
    margin-top: 10px;
    margin-right: 5px;
}


.bottonNameWrapper {
    display: flex;
    justify-content: left;
    width: 75%;
}

app-photo {
    margin-right: 30px;
}


app-text {
    margin-bottom: 0;
    line-height: 0.7em;
}

.text-div {
    width: 100%;
}

