<div class="chatfeed-container">
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
    <div class="right-message">
        <app-message messageStyle="ownMessage"></app-message>
    </div>
    <div class="left-message">
        <app-message messageStyle="responseMessage"></app-message>
    </div>
</div>
<app-chatbox></app-chatbox>


