.chatfeed-container {
    background-image: url("../../../../assets/images/whatsappBackground.PNG");
    width: 100%;
    padding-left: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: 86vh;
}

.right-message {
    display: flex;
    justify-content: right;
}

.left-message {
    display: flex;
    justify-content: left;
}

app-message {
    width: 50%;
}